.cm-chat-message {
    display: block;
    height: min-content;
    width: min-content;
}

.cm-chat-message-sent {
    align-self: flex-end;
}

.cm-chat-message-received {
    align-self: flex-start;
}

::ng-deep{
    .p-card-content {
        padding: 0;
    }
    .p-card-body {
        padding: 0.75rem;
    }
} 