<div class = "nudge-container">
    <div class = "nudge-card">

        <p>
            Your current bank offers 0.01% APY. Switch to <a href="https://investor.vanguard.com/accounts-plans/vanguard-cash-plus-account"> Vanguard Cash Plus Account </a> today for 4.7% APY!
        </p>
    </div>
    <div class = "nudge-card">

        <p>
            You qualify for Vanguard Personal Advisor services! Visit <a href = "https://investor.vanguard.com/advice/personal-hybrid-robo-advisor">Personal Advisor</a> 
        </p>
    </div>
    <div class = "nudge-card">

        <p>
            Your average investments expense ratio is 0.54%. Vanguard's average expense ratio is 0.08
            %. Visit <a href="https://vanguard.com">Vanguard</a> to see how much you can save!
        </p>
    </div>
   
    
</div>