footer{
    // position:fixed;
    // bottom:0px;
    background-color:pink;
    width:100%;
}

.chat{
    position: fixed;
      bottom: 40px;
      right: 20px;
    padding: 5px;
  }

button{
    background-color: rgb(200, 50, 10);
    border: none;
    border-radius: 30%;
}
    