<h2>Current Month Expenses</h2>
<p-table [value]="transactions" [columns]="cols">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols"> {{ col.header }} </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-transaction>
    <tr>
      <td>{{ transaction.name }}</td>
      <td>{{ transaction.amount | currency }}</td>
      <td>{{ transaction.category }}</td>
      <td>{{ transaction.account }}</td>
      <td>{{ transaction.date }}</td>
    </tr>
  </ng-template>
</p-table>

